/* Style Page For Teams */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, serif;
    text-align: center;
    margin: 0px;
    overscroll-behavior: none;
}

#members figure img {
    width: 100%;
    border-radius: 20%;
}

#members figure img:hover {
    opacity: 0.8;
    z-index: 0;
}

figure a {
    text-decoration: none;
    color: #000;
}

#graphic {
    height: 100vh;
    width: 100vw;
    background-image: url("../resources/Scorpio2.svg"), radial-gradient(white, gray);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vmin, cover;
    background-position: center center;
    border-top-left-radius: 100% 20%;
    border-top-right-radius: 100% 20%;
}

#graphic2 {
    height: 100vh;
    width: 100vw;
    background-image: url("../resources/Aries2.svg"), radial-gradient(white, gray);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vmin, cover;
    background-position: center center;
    border-top-left-radius: 100% 20%;
    border-top-right-radius: 100% 20%;
}

#graphic3 {
    height: 100vh;
    width: 100vw;
    background-image: url("../resources/Taurus2.svg"), radial-gradient(white, gray);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vmin, cover;
    background-position: center center;
    border-top-left-radius: 100% 20%;
    border-top-right-radius: 100% 20%;
}

#teams>svg {
    width: 371px;
}

#members>figure {
    width: 10%;
    min-width:100px;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
}

#members figcaption {
    font-family: sans-serif;
    font-weight: bold;
    font-size:0.7em;
}
.names {
    font-size:1.5em;
}

#video>iframe {
     max-width: 700px;
     width:90%;
}

p {
    text-align: left;
    width: 100%;
    font-size: 1.2em;
}

p, h2, li ,a {
    line-height: 150%;
    color: rgb(72, 72, 72);
}

#about {
    margin-bottom: calc(-20px - 1.2em);
    max-width: 700px;
    width:90%;
    display: inline-block;
}

#members {
    text-align: center;
}

#notebooks {
    padding-top: calc(20px + 1.5em);
}

h1, h2, h3 {
	font-family: 'Orbitron', sans-serif;
	text-align:center;
}

h1 {
    font-size: 3.5em;
}

h2 {
    border-bottom: 1px solid #DDD;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

h3 {
    border-bottom: 1px solid #DDD;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background: #777;
    padding: 10px;
    font-size: 1.2em;
    opacity: 0.99;
    z-index: 1;
}

nav>a, h1>a {
    text-decoration: none;
    color: #000;
}

nav>a:hover, h1>a:hover {
    text-decoration: underline;
}

nav img {
    height: 1em;
}

@media print {
    nav {
        display: none;
    }

    #graphic, #graphic2, #graphic3 {
        display: none;
    }
}
