/* Style Page For Teams */
html{
  scroll-behavior: smooth;
}

body{
	font-family: 'Orbitron', sans-serif;
  text-align:center;
  margin:0px;
  overscroll-behavior:none;
}

#members figure img{
  width:100%;
  border-radius:100%;
}

#members figure img:hover{
  opacity:0.8;
  z-index:0;
}

abbr{
  text-decoration:underline;
}

figure a{
  text-decoration:none;
  color:#000;
}

#graphic{
  height:100vh;
  width:100vw;
  background-image:url("../resources/Scorpio2.svg"), radial-gradient(white, gray);
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:100vmin, cover;
  background-position:center center;
  border-top-left-radius:100% 20%;
  border-top-right-radius:100% 20%;
}

#graphic2{
  height:100vh;
  width:100vw;
  background-image:url("../resources/Aries2.svg"), radial-gradient(white, gray);
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:100vmin, cover;
  background-position:center center;
  border-top-left-radius:100% 20%;
  border-top-right-radius:100% 20%;
}

#graphic3{
  height:100vh;
  width:100vw;
  background-image:url("../resources/Taurus2.svg"), radial-gradient(white, gray);
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:100vmin, cover;
  background-position:center center;
  border-top-left-radius:100% 20%;
  border-top-right-radius:100% 20%;
}

@media only screen and (min-width: 1000px) {
  #teams>svg{
    width:371px;
  }
  #members>figure {
    width:100%;
    margin:0px;
    margin-bottom:10px;
  }

  #members figcaption{
    margin-top:2px;
    font-family:serif;
    font-weight:bold;
  }

  p{
    text-align:justify;
    width:100%;
    font-family:serif;
  }

  #about{
    width:420px;
    display:inline-block;
    margin-right:100px;
    vertical-align:top;
  }
  #members{
    width:120px;
    display:inline-block;
    margin-bottom:calc(-20px - 1.5em);
  }

  #notebooks{
    padding-top:calc(20px + 1.5em);
  }
  h1{
    font-size:3.5em;
  }

  h2 {
    border-bottom:1px solid #DDD;
    width:300px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    font-size:1.5em;
  }

  h3{
    border-bottom:1px solid #DDD;
    width:100px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    font-size:1.2em;
  }

  nav{
    position: -webkit-sticky;
    position:sticky;
  	top:0px;
    background:#777;
    padding:10px;
    font-size:1.2em;
    opacity:0.99;
    z-index:1;
  }

  nav>a, h1>a{
    text-decoration:none;
  	color:#000;
  }

  nav>a:hover, h1>a:hover{
    text-decoration:underline;
  }

  nav img{
    height:1em;
  }
}

@media screen and (min-width: 740px) and (max-width: 999px), print {
  #members>figure {
    width:100%;
    margin:0px;
  }

  #members figcaption{
    margin-top:2px;
    font-family:serif;
    font-weight:bold;
    margin-bottom:10px;
  }

  p{
    text-align:justify;
    width:100%;
    font-family:serif;
  }

  #members{
    width:120px;
    display:inline-block;
    margin-bottom:calc(-20px - 1.5em);
  }

  #notebooks{
    padding-top:calc(20px + 1.5em);
  }

  #about{
    width:420px;
    display:inline-block;
    margin-right:50px;
    margin-bottom:calc(-20px - 1.5em);
    vertical-align:top;
  }

  h1{
    font-size:3em;
  }

  h2 {
    border-bottom:1px solid #DDD;
    width:300px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    font-size:1.5em;
  }

  h3{
    border-bottom:1px solid #DDD;
    width:100px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    font-size:1.2em;
  }

  nav{
    position: -webkit-sticky;
    position:sticky;
  	top:0px;
    background:#777;
    padding:10px;
    font-size:1.2em;
    opacity:0.99;
    z-index:1;
  }

  nav>a{
    text-decoration:none;
  	color:#000;
  }

  nav>a:hover{
    text-decoration:underline;
  }

  nav img{
    height:1em;
  }
}

@media only screen and (max-width: 739px) {
  figure{
    display:inline-block;
    width:20%;
    margin:5px;
  }

  figcaption{
    margin-top:2px;
    font-family:serif;
    font-size:2.5vw;
    font-weight:bold;
  }

  p{
    text-align:justify;
    font-family:serif;
    width:calc(100% - 16px);
    max-width:400px;
    margin:auto;
  }

  #members{
    margin-bottom:calc(-20px - 0.8em);
  }

  #notebooks{
    padding-top:calc(20px + 0.8em);
  }
  h1{
    font-size:2em;
  }

  h2,h3 {
    border-bottom:1px solid #DDD;
    width:300px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    font-size:1.2em;
  }

  nav{
    position: -webkit-sticky;
    position:sticky;
  	top:0px;
    background:#777;
    padding:10px;
    font-size:0.8em;
    opacity:0.99;
    z-index:1;
  }

  nav>a, h1>a{
    text-decoration:none;
  	color:#000;
  }

  nav>a:hover, h1>a:hover{
    text-decoration:underline;
  }

  nav img{
    height:0.7em;
  }
}
@media print{
  nav{
    display:none;
  }
  #graphic, #graphic2, #graphic3{
    display:none;
  }
}
