Satisfy Any

ErrorDocument 404 /error/404
ErrorDocument 403 /error/404
ErrorDocument 500 /error/500

RewriteEngine On

RewriteCond %{HTTP_HOST} rhs-robotics\.herokuapp\.com [NC]
RewriteRule ^ https://rhsrobotics.net%{REQUEST_URI} [NC,R=301,L] 

#rewrites php files to directories

#RewriteCond %{REQUEST_FILENAME} \.php$ [NC]
#RewriteRule ^(https://rhs-robotics\.herokuapp\.com.*)\.php $1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]


#rewrites files with html extension
#RewriteCond %{REQUEST_FILENAME} \.html$ [NC]
#RewriteRule ^(https://rhs-robotics\.herokuapp\.com.*)\.html $1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

RewriteCond %{REQUEST_FILENAME}.pdf -f
RewriteRule ^(.*)$ $1.pdf [NC,L]

RewriteCond %{REQUEST_FILENAME}.txt -f
RewriteRule ^(.*)$ $1.txt [NC,L]


#rewrites http to https
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteRule ^ https://rhs-robotics.herokuapp.com%{REQUEST_URI} [L,R]
