/**
  Styling comments...
    The worst of all comments.
**/
html{
  /* scrolls to anchor id when user clicks internal link */
  scroll-behavior: smooth;
}

body{
	font-family: 'Orbitron', sans-serif;
  text-align:center;
  margin:0px;

  /* Removes the springy reaction when the user scrolls to the bottom of the page **/
  overscroll-behavior:none;
}
figure svg{
  width:100%;
}

/* Team logo icons (SVG) */
#scorpio{
  width:31%;
  float:left;
  display:inline-block;
  margin:0px;
}

#aries{
	width:31%;
  display:inline-block;
  margin:0px
}

#taurus{
  width:31%;
  float:right;
  display:inline-block;
  margin:0px;
}

 nav>a, h1>a{
   text-decoration:none;
   color:black;
 }

 nav>a:hover, h1>a:hover{
   text-decoration:underline;
 }

/* the sidebar images */
#officers figure img{
  width:100%;
  border-radius:100%;
}

/* sidebar images on hover */
#officers figure img:hover{
  opacity:0.8;
  z-index:0;
}

/* Remove link-like properties from images and svgs */
figure a{
  text-decoration:none;
  color:black;
}

a:active{
  outline:none;
}

/* team logos, add background on hover */
figure a:hover circle, figure a:hover rect, figure a:hover polygon{
  fill:#DDD;
}

/* Google Calendar */
iframe{
  width:100%;
  height:500px;
  border:none;
}

/* Large Devices Only */
@media only screen and (min-width: 1000px) {
  /*Just setting widths and stuff, blah, blah, blah */
  #teams>figure{
    width:310px;
  }

  #about{
    width:420px;
    display:inline-block;
    margin-right:100px;
    margin-bottom:calc(-20px - 1.2em);
  }
  #officers>figure {
    width:100%;
    margin:0px;
  }

  #officers figcaption{
    margin-top:2px;
    /* Is there really a difference between serif and times? */
    font-family:serif;
    font-weight:bold;
    margin-top:0px;
    margin-bottom:10px;
  }

  /* the About Us paragraph */
  p{
    text-align:justify;
    width:100%;
    font-family:serif;
  }

  /*The sidebar in the About Us section */
  #officers{
    width:120px;
    display:inline-block;
    margin-bottom:calc(-20px - 1.2em);
  }

  /* Top Header */
  h1{
    font-size:3.5em;
  }

  /* Officers header, just used it because h2 was already taken, and I didn't want to make a new Id for it */
  h3{
    border-bottom:1px solid #DDD;
    width:100px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    font-size:1.2em;
  }

  /* Sub headers of each section */
  h2 {
    border-bottom:1px solid #DDD;
    width:300px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    font-size:1.5em;
  }

  /* Navigation bar */
  nav{
    position: -webkit-sticky;
    position:sticky;
  	top:0px;
    background:#777;
    padding:10px;
    font-size:1.2em;
    opacity:0.99;
    z-index:1;
  }

  /* This is for anchor link purposes, so that the navigation bar doesn't overlap the header when auto scrolling to the teams section */
  #teams{
    padding-top:calc(20px + 1.2em);
    margin-bottom:calc(-20px - 1.2em);
  }

  /* Same here */
  #events{
    padding-top:calc(20px + 1.2em);
  }

  /* Images in navigation bar */
  nav img{
    height:1em;
  }
}

/* Medium Sized Devices */
@media screen and (min-width: 740px) and (max-width: 999px), print {

  /* Ok, the rest is mostly the same... */
  #officers>figure {
    width:100%;
    margin:0px;
  }

  #officers figcaption{
    margin-top:2px;
    font-family:serif;
    font-weight:bold;
    margin-top:0px;
    margin-bottom:10px;
  }
  #about{
    width:420px;
    display:inline-block;
    margin-right:50px;
    margin-bottom:calc(-20px - 1.2em);
  }
  p{
    text-align:justify;
    width:100%;
    font-family:serif;
  }
  #officers{
    width:120px;
    display:inline-block;
    margin-bottom:calc(-20px - 1.2em);
  }

  h1{
    font-size:3em;
  }

  h2 {
    border-bottom:1px solid #DDD;
    width:300px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    font-size:1.5em;
  }
  #teams{
    margin-bottom:calc(-20px - 1.2em);
    padding-top:calc(20px + 1.2em);
  }

  #events{
    padding-top:calc(20px + 1.2em);
  }

  h3{
    border-bottom:1px solid #DDD;
    width:100px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    font-size:1.2em;
  }

  nav{
    position: -webkit-sticky;
    position:sticky;
  	top:0px;
    background:#777;
    padding:10px;
    font-size:1.2em;
    opacity:0.99;
    z-index:1;
  }

  nav img{
    height:1em;
  }
}
@media only screen and (max-width: 739px) {
  #officers figure{
    display:inline-block;
    width:20%;
    margin:5px;
  }
  #officers figcaption{
    margin-top:2px;
    font-family:serif;
    font-size:2.5vw;
    font-weight:bold;
  }
  p{
    text-align:justify;
    font-family:serif;
    z-index:-1;
    vertical-align:top;
    width:calc(100% - 16px);
    max-width:400px;
    margin:auto;
  }
  #officers{
    margin-bottom:calc(-20px - 0.8em);
  }

  #teams{
    margin-bottom:calc(-20px - 0.8em);
    padding-top:calc(20px + 0.8em);
  }

  #events{
    padding-top:calc(20px + 0.8em);
  }
  h1{
    font-size:2em;
  }

  h2,h3 {
    border-bottom:1px solid #DDD;
    width:300px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    font-size:1.2em;
  }
  nav{
    position: -webkit-sticky;
    position:sticky;
  	top:0px;
    background:#777;
    padding:10px;
    font-size:0.8em;
    opacity:0.99;
    z-index:1;
  }

  nav img{
    height:0.7em;
  }
}
@media only screen and (max-width: 500px) {
  nav{
    position:sticky;
  	top:0px;
    background:#777;
    padding:10px;
    font-size:0.5em;
    opacity:0.99;
  }
  nav img{
    height:0.5em;
  }
}

@media print {
  nav{
    display:none;
  }
}
