/* Profiles List Style */
html{
  scroll-behavior: smooth;
}

body{
  margin:0px;
  text-align:center;
  overscroll-behavior:none;
  font-family: 'Orbitron', sans-serif;
}
.testdome-certificate-stamp{
  display:inline-block !important;
}
figure{
  display:inline-block;
  width:30vmin;
  min-width:20%;
  margin:1px;
  margin-top:9px;
}
li{
  font-family:times serif;
  text-align:left;
}
ul, ol{
  width:80%;
  margin-left:10%;
  text-align:center;
  margin-right:10%;
}
figure>a {
  text-decoration:none;
}
body>a{
  font-family:times serif;
}
figure img{
  border-radius:100%;
  width:100%;
}
figure img:hover{
  opacity:0.8;
  z-index:0;
}
figcaption{
  font-family:times, serif;
  display:inline-block;
  color:black;
}
select{
  outline:none;
}
p{
  text-align:justify;
  font-family:times, serif;
  width:80%;
  max-width:700px;
  margin:auto;
}
body>img{
  width:50vmin;
}
@media only screen and (min-width: 740px) {
  h1{
    font-size:3em;
  }
  nav{
    position:sticky;
  	top:0px;
    background:#777;
    padding:10px;
    font-size:1.2em;
    opacity:0.99;
    z-index:1;
  }

  nav>a, h1>a{
    text-decoration:none;
  	color:black;
  }

  nav>a:hover{
    text-decoration:underline;
  }

  nav img{
    height:1em;
  }
}

@media only screen and (min-width: 1000px) {
  h1{
    font-size:3.5em;
  }
}

@media only screen and (max-width: 739px) {
    nav{
    position:sticky;
  	top:0px;
    background:#777;
    padding:10px;
    font-size:0.8em;
    opacity:0.99;
    z-index:1;
  }

  nav>a, h1>a{
    text-decoration:none;
  	color:black;
  }

  nav>a:hover{
    text-decoration:underline;
  }

  nav img{
    height:0.7em;
  }
  figcaption{
    font-size:3vw;
  }
}
